.micromaxFindingContainer{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding: 42px 0;
	margin-top: 68px;
	border: 1px solid #e8e8e8;

	h2.micromax1thingHeading{
		@extend %leftfull;
		padding: 38px 0 0 86px;
		@include box-sizing(boxsizing);
		font-size: 3.625rem;
	line-height: 4.875rem;
		color: rgba(0, 0, 0, 0.5);
		font-weight: normal;
		font-family: 'brandongrotesque-thinbook';
	}

	p.startWith{
		@extend %leftfull;
		font-size: 1rem;
    	color: #000;
    	padding: 0px 0px 0 86px;
	}

	.micromax1thingDescription{
		@extend %left;
		padding-top: 100px;
		@include box-sizing(boxsizing);
		padding-right: 48px;
	p.micromax1thingText{
		@extend %left;
		margin-top: 12px;
		font-size: 0.9375rem;
		color: #000;
		line-height: 1.7rem;
		font-family: 'ralewaylight';		
	}
	}
}


@media screen and (max-width: 640px){
	.micromaxFindingContainer{

	h2.micromax1thingHeading{
		padding: 10px 0;
		font-size: 2.5rem;
    	line-height: 44px;
	}

	p.startWith{
		padding: 0;
	}

	.micromax1thingDescription{
		padding: 14px;
	p.micromax1thingText{	
	}
	}
}
}
