section.blog{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	@extend %overflow;
	@extend %pos-relative;
  	z-index: 9;
	background: linear-gradient(to bottom,rgba(229, 255, 247, 0.98) 0,rgba(0, 125, 59, 0.98) 300%);
	padding: 100px 0px 148px 0px;
	transform: skewY(-5deg);
}


.blogBox{
	@extend %leftfull;
	@extend %pos-relative;
	@include box-sizing(boxsizing);
	padding: 22px;
	height: 306px;
	background-color: #fff;	
	cursor: pointer;
	text-align: center;
	@extend %ease;
	display: table;

	.v-align_blog{
	    display: table-cell;
	    vertical-align: middle;

	    p.blog-name{
			@extend %leftfull;
			@extend %pos-relative;
			z-index: 5;    
		    font-size: 2.25rem;
		    line-height: 1.5;
		    color: rgba(41,88,85,.74);
		    letter-spacing: 1px;
		    font-family: 'source_sans_prosemibold';
		    text-align: center;
		    @extend %ease;
		}
	}

	.blog-layer{
		@extend %leftfull;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.6);
		@extend %pos-absolute;
		z-index: 3;
		top: 0px;
		left: 0px;
		@extend %ease;
	}

	&:hover{

		p.blog-name{
			text-shadow: 3px 3px 3px rgba(150, 150, 150, 0.36);
		}
	}
}


.empathy{
	background: url(../../../img/build/blog-bg.jpg) no-repeat left;
	background-size: cover;
}

.cognitive{
	background: url(../../../img/build/blog-bg.jpg) no-repeat right;
	background-size: cover;
}

@media screen and (max-width: 640px){

	section.blog{
		padding: 47px 0 12px;
	}
	.blogBox{
		height: 242px;
		margin-bottom: 58px;
		
		.v-align_blog{
		p.blog-name{
			font-size: 1.75rem;
		}
	}
	}
}