.eve-more{
	@extend %leftfull;
	margin: 24px 0px 68px 0px;
    height: 1px;
    background-color: #cecece;

    span{
    	float: left;
	    padding: 7px 8px 0px 8px;
	    background-color: #fff;
	    border: 1px solid #cecece;
	    margin-top: -11px;
	    margin-left: 50%;
	    transform: translateX(-50%);
	    font-size: 0.875rem;
	    color: #333;
	    text-transform: capitalize;

	    .em-icon{
	    	float: right;
	    	margin-top: -1px;
		    font-size: 1rem;
		    line-height: 1;
		    margin-left: 4px;
		    color: rgba(51, 51, 51, 0.68);
	    }
    }
}

.event-list{
	@extend %leftfull;

	.event-box_upper{
		@extend %leftfull;
		@extend %pos-relative;
		@include box-sizing(boxsizing);

		.back-shadow{
			width: 0;
		    height: 0;
		    border: 0 solid transparent;
		    border-left-width: 6px;
		    border-right-width: 0px;
		    border-top: 8px solid #d5ac00;
		    position: absolute;
		    z-index: 2;
		    top: 28px;
		    left: -5px;
		}
	}

	.event-box{
		@extend %leftfull;
		margin-bottom: 16px;
		height: 220px;
		height: 318px;
    	@extend %overflow;
    	@extend %pos-relative;
		@include box-sizing(boxsizing);
		background-color: $grey-color;
		@extend %ease;
		@extend %pointer;

	&:hover{
		-webkit-box-shadow: 0px 6px 18px 0px rgba(219,219,219,1);
	    -moz-box-shadow: 0px 6px 18px 0px rgba(219,219,219,1);
	    box-shadow: 0px 6px 18px 0px rgba(219,219,219,1);
	    margin-top: -5px;
	}


	p.eve-blur_top{
		@extend %leftfull;
		@extend %pos-absolute;
		top: 0px;
		left: 0px;
		color: #fff;
    	z-index: 4;
    	font-size: 0.875rem;
    	line-height: 1.5;
    	letter-spacing: 1px;
    	padding: 10px 28px 10px 14px;
	}

	.eve-blur{
		float: left;
	    width: 120%;
	    height: 52px;
	    background-color: #000;
	    margin-left: -10%;
	    margin-top: -10px;
	    filter: blur(26px);
	    -webkit-filter: blur(26px);
	}

	.list-event-detail{
		@extend %leftfull;
		@include box-sizing(boxsizing);
		@extend %pos-absolute;
		left: 0px;
		bottom: -54px;
		bottom: 0px;
		padding: 14px;
		@extend %ease;
		background-color: #fff;
		border: 1px solid rgba(51, 51, 51, 0.18);
    	border-top: none;


	h5.ev-list-name{
			@extend %leftfull;
			@include box-sizing(boxsizing);
			margin-bottom: 8px;
			text-align: left;
			font-size: 1.0625rem;
		    line-height: 1.5rem;
			text-transform: capitalize;
			color: rgba(51, 51, 51, 0.88);

		    span{

		    }	
		}

		h3.pr-charge{
				@extend %left;
				@extend %pos-relative;
				@include box-sizing(boxsizing);
				/* margin-bottom: 16px; */
				margin-top: -42px;
				text-transform: capitalize;
				font-size: 0.875rem;
				text-transform: capitalize;
				color: rgba(51, 51, 51, 0.88);
				color: #333;
    			background-color: #fff;
    			padding: 4px 8px 2px 8px;

				.icon{
					@extend %left;
					margin-top: -1px;
					margin-right: 8px;
					font-size: 0.8125rem;
					line-height: 1;
					color: rgba(51, 51, 51, 0.88);
				}
			}
		

		.event-location{
			@extend %leftfull;
			@include box-sizing(boxsizing);

			p.loco{
				@extend %left;
				margin-bottom: 10px;
				color: #333;
				font-size: 0.8125rem;
				line-height: 1.5;
				text-align: left;
			}
		}
}

}
}


p.eve-interested{
	@extend %leftfull;
	margin-top: 10px;
	font-size: 0.8125rem;
	line-height: 1.5;
	color: rgba(51, 51, 51, 0.88);

	.interested-icon{
		float: left;
		font-size: 0.875rem;
	    line-height: 1;	    
	    margin-top: 1px;
	    margin-right: 6px;
	}

}

p.eve-side_heading{
    @extend %left;
    margin-bottom: 22px;
    font-size: 1.375rem;
    color: #333;
    text-transform: capitalize;
}

span.sub-info{
    	font-size: 0.875rem;
    	margin-left: 12px;

    	a.total-eve{
    		&:hover{
    			text-decoration: underline;
    		}
    	}

    	a.today-eve{
    		&:hover{
    			text-decoration: underline;
    		}
    	}
    }





@media screen and (max-width: 640px){
	span.sub-info{
    	font-size: 0.6875rem;
    	margin-left: 8px;
    }	
}