.other-project{
	@extend %leftfull;
	@extend %pos-relative;
	@include box-sizing(boxsizing);
	padding: 82px 0px 134px 0px;
	background-color: #fbfbfb;
	transform: skewY(-5deg);
}

.other-project_heading{
	@extend %leftfull;
	font-size: 1.125rem;
    margin-bottom: 18px;
    font-family: 'gilroylight';
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgba(51,51,51,.9);
}


@media screen and (max-width: 640px){
	.other-project{
		padding: 82px 0px 82px 0px;
	}
}