section.process{
	@extend %leftfull;
	margin-top: -62px;
	@include box-sizing(boxsizing);
	padding: 100px 0px 48px 0px;
	@extend %overflow;
	@extend %pos-relative;
  	z-index: 5;
	background: linear-gradient(to bottom,rgba(229, 255, 247, 0.98) 0,rgba(0, 125, 59, 0.98) 300%);
	transform: skewY(-5deg);

	.process-circle{
		@extend %leftfull;
		@extend %pos-relative;
		@include box-sizing(boxsizing);
		padding: 22px 0px;
		margin-bottom: 98px;
		text-align: center;

		.right-arrow{
			@extend %left;
		    position: absolute;
		    z-index: 3;
		    right: -28px;
    		top: 35%;
			font-size: 2rem;
		    line-height: 1;
		    color: rgba(41, 88, 85, 0.74);		    
		}

		.right-arrow01{
			top: 32%;
		}

		.left-arrow{
			@extend %left;
		    position: absolute;
		    z-index: 3;
		    left: -18px;
    		top: 32%;
			font-size: 2rem;
		    line-height: 1;
		    color: rgba(41, 88, 85, 0.74);
		}

		.left-arrow01{
			left: -32px;
    		top: 40%;
		}

		.left-arrow02{
			left: -32px;
    		top: 28%;
		}

		.down-arrow{
			@extend %left;
		    position: absolute;
		    z-index: 3;
		    left: 38%;
    		bottom: -58px;
			font-size: 2rem;
		    line-height: 1;
		    color: rgba(41, 88, 85, 0.74);
		}

		.down-arrow001{
		    bottom: -44px;
    		left: 44%;
		}

		.down-arrow001-2{
			left: 48%;
		}

		.up-arrow001{
			@extend %left;
		    position: absolute;
		    z-index: 3;
		    left: 42%;
    		bottom: -46px;
			font-size: 2rem;
		    line-height: 1;
		    color: rgba(41, 88, 85, 0.74);
		}

		.on-mobile{
			display: none;
		}

		h5{
			@extend %leftfull;
			margin-top: 18px;
		    font-size: 1.125rem;
		    line-height: 1.5;
		    color: rgba(41, 88, 85, 0.74);
		    text-transform: capitalize;
		    letter-spacing: 1px;
		    font-family: 'source_sans_proregular';
		}
	}

}


.col-right{
	float: right!important;
}


@media screen and (max-width: 640px){
	section.process{

	.process-circle{
		margin-bottom: 48px;

		.right-arrow{
			display: none;		    
		}

		.right-arrow01{
			display: none;
		}

		.left-arrow{
			display: none;
		}

		.left-arrow01{
			display: none;
		}

		.left-arrow02{
			display: none;
		}

		.down-arrow{
			display: none;
		}

		.on-mobile{
			display: block;
		}

		h5{
			font-size: 1rem;
		}
	}

}
}