.tags{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding: 0px;

	ul{
		@extend %left;

		li{
			@extend %left;
			list-style: none;
		    background-color: #fff;
		    margin-right: 10px;
		    border-radius: 10px;
		    text-transform: capitalize;
		    color: #8e8e8e;
		    font-size: 0.75rem;
		    letter-spacing: 1px;

			&:last-child{
				margin-right: 0px;
			}

			&:hover{
				color: #446a96;
			}
		}
	}
}
