section.top {
	@extend %leftfull;
	height: 778px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 50%), url(../../../img/tushar.jpg) no-repeat fixed;
  background-size: cover;

  	.top-content{
  		@extend %leftfull;
  		margin-top: 68px;

      p.greetings{
        @extend %leftfull;
        margin-bottom: 22px;
        font-size: 3.625rem;
        color: #3A3A3A;
        font-family: 'lucida_grandebold';

        span{
          @extend %leftfull;
          font-family: 'gilroylight';
          margin-bottom: 4px;
          font-size: 2.25rem;
        }
      }

      /* hr{
        @extend %left;
        width: 86px;
        height: 10px;
        padding: 0;
        margin: 0px 0px 22px 0px;
        background-color: #fd024e;
        border: none;
      } */

      p.intro{
        @extend %leftfull;
        margin-bottom: 16px;
        font-size: 1.375rem;
        line-height: 1.5;
        color: #3A3A3A;
        font-family: 'gilroylight';
      }

      p.quote{
        @extend %leftfull;
        font-size: 1.375rem;
        line-height: 1.5;
        color: #3A3A3A;
        font-family: 'gilroylight';
      }

  	}

}


.bg1{background-color: #ff8f8f;}
.bg2{background-color: #8fff9d;}
.bg3{background-color: #ffd88f;}
.bg4{background-color: #f8ff8f;}
.bg5{background-color: #8fc6ff}
.bg6{background-color: #8fffe5}



.workflow{
	@extend %leftfull;
	margin-top: -200px;
	height: 400px;
	@extend %overflow;
	/* background: linear-gradient(-5deg, #ffffff 50%, rgba(143, 198, 255, 0) 50%); */
	position: relative;

	transform: skewY(-5deg);
  background-color: burlywood;

}