section.work{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding: 100px 0px 148px 0px;
	@extend %overflow;
	@extend %pos-relative;
  	z-index: 7;
	background-color: #fff;
	transform: skewY(-5deg);
}


@media screen and (max-width: 640px){
	section.work{
		padding: 77px 0px 58px 0px;
	}
}