.resume-info2{
  @extend %leftfull;
  @extend %pos-relative;   
}

.exp{
	@extend %left;
    width: 68%;
	@include box-sizing(boxsizing);
	margin-bottom: 24px;
}

.skl{
    @extend %right;
    width: 27%;
}



ul.single-point{
	@extend %leftfull;
	@include box-sizing(boxsizing);


	li{
		@extend %leftfull;
		list-style: none;
		margin-bottom: 3px;
		font-size: 17px;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.6);
        text-align: left;
        text-transform: capitalize;

        &:last-child{
        	margin-bottom: 20px;
        }
	}
}


h4.m-hd{
	@extend %leftfull;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.5;
	color: #ff708c;
	font-family: 'brandongrotesque-boldbook';
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5.s-hd{
	@extend %leftfull;
	font-size: 19px;
	line-height: 1.5;
	color: rgba(0,0,0,.7);
	font-family: 'brandongrotesque-mediumbook';
    text-transform: capitalize;
    letter-spacing: 1px;
}

h6.sb-hd{
	@extend %leftfull;
	margin-bottom: 8px;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(0,0,0,.6);
	font-family: brandongrotesque-regularbook;
    text-transform: capitalize;
    letter-spacing: 1px;

    span.d-hd{
    	font-size: 14px;
    }
}

ul.exp-point{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding-left: 22px;


	li{
		@extend %leftfull;
		list-style: none;
		margin-bottom: 8px;
		font-size: 17px;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.5);
        text-align: left;
        list-style-type: circle;

        &:last-child{
        	margin-bottom: 20px;
        }
	}
}