.objective{
	@extend %leftfull;
	@include box-sizing(boxsizing);

	.left-container{
		@extend %left;
		width: 20%;
		@include box-sizing(boxsizing);

		h4{
			@extend %left;
			font-size: 18px;
			line-height: 1.5;
			font-family: 'source_sans_prosemibold';
			font-family: 'brandongrotesque-mediumbook';
			color: rgba(0, 0, 0, 0.8);
		}
	}

	.right-container{
		@extend %right;
		width: 80%;
		@include box-sizing(boxsizing);

		p{
			float: left;
			@include box-sizing(boxsizing);
			font-size: 15px;
			line-height: 1.5;
			color: rgba(0, 0, 0, 0.7);
		}
	}

	

	
}