@import 'variables';
@import 'fonts';
@import 'fonts-icon';
@import 'container';
@import 'wrapper';
@import 'reset';
@import 'header';
@import 'footer';


.body-bg_white{
    background-color: #ffffff!important;
}


.skew-section{
    @extend %leftfull;
    transform: skewY(5deg);
}


.to-top{
    @extend %right;
    @extend %pos-fixed;
    z-index: 999;
    bottom: 32px;
    right: 32px;
    width: 28px;
    height: 28px;
    background-color: #a3a3a3;
    @include border-radius(50%);
    cursor: pointer;
    display: none;

    .triangle-up{
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid #a3a3a3;
        @extend %pos-absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
    }

    p.top{
        @extend %left;
        @extend %pos-absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 0.625rem;
        font-family: 'source_sans_proextralight';
        letter-spacing: 1px;
    }
}


.projectNav{
	@extend %leftfull;
	background-color: #fff;
	padding: 32px 0;

	ul{
		@extend %leftfull;
		li{
			@extend %left;
			list-style: none;
			text-transform: uppercase;
    		margin-left: 32px;
    		font-size: 0.875rem;
    		letter-spacing: 1px;
    		color: rgba(0, 0, 0, 0.5);
    		font-family: 'ralewayregular';
    		line-height: 2rem;
    		cursor: pointer;

    		&:first-child{
    			margin-left: 0px;
    		}
		}

		.active{
    			color: #000;
    			font-family: 'ralewaybold';
    		}
	}
}

