.container{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	@extend %pos-relative;
	padding: 0 10px;
}

.white-surface{
	@extend %leftfull;
	@extend %pos-relative;
	margin-top: 118px;
	background-color: #FFFFFF;
}