@font-face {
    font-family: 'qanelas_demoblack';
    src: url('../../../fonts/node/qanelasdemo-black-webfont.woff2') format('woff2'),
         url('../../../fonts/node/qanelasdemo-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'qanelas_demothin';
    src: url('../../../fonts/node/qanelasdemo-thin-webfont.woff2') format('woff2'),
         url('../../../fonts/node/qanelasdemo-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lucida_grandebold';
    src: url('../../../fonts/node2/911fonts.com_lucidagrandebold__-_911fonts.com-fonts-3l6h-webfont.woff2') format('woff2'),
         url('../../../fonts/node2/911fonts.com_lucidagrandebold__-_911fonts.com-fonts-3l6h-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lucida_granderegular';
    src: url('../../../fonts/node2/911fonts.com_lucidagranderegular__-_911fonts.com-fonts-ynwe-webfont.woff2') format('woff2'),
         url('../../../fonts/node2/911fonts.com_lucidagranderegular__-_911fonts.com-fonts-ynwe-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroyextrabold';
    src: url('../../../fonts/node3/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../../../fonts/node3/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroylight';
    src: url('../../../fonts/node3/gilroy-light-webfont.woff2') format('woff2'),
         url('../../../fonts/node3/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'milano_typefaceitalic';
    src: url('../../../fonts/milano/milano_italic-webfont.woff2') format('woff2'),
         url('../../../fonts/milano/milano_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'milano_typefaceregular';
    src: url('../../../fonts/milano/milano_regular-webfont.woff2') format('woff2'),
         url('../../../fonts/milano/milano_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* cutie font */

@font-face {
    font-family: 'cutie_patootie_hollowhollow';
    src: url('../../../fonts/cutie/cutie_patootie_hollow-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cutie_patootie_skinnyskinny';
    src: url('../../../fonts/cutie/cutie_patootie_skinny-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie_skinny-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cutie_patootiemedium';
    src: url('../../../fonts/cutie/cutie_patootie-webfont.woff2') format('woff2'),
         url('../../../fonts/cutie/cutie_patootie-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* roboto */


@font-face {
    font-family: 'robotoblack';
    src: url('../../../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack_italic';
    src: url('../../../fonts/roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('../../../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold_italic';
    src: url('../../../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('../../../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('../../../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight_italic';
    src: url('../../../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('../../../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium_italic';
    src: url('../../../fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../../../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('../../../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin_italic';
    src: url('../../../fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../../../fonts/roboto/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* kg_blank */

@font-face {
    font-family: 'kg_blank_space_sketchregular';
    src: url('../../../fonts/kg-blank/kgblankspacesketch-webfont.woff2') format('woff2'),
         url('../../../fonts/kg-blank/kgblankspacesketch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}