header.port-header{
  @extend %leftfull;
  display: inline-block;
  @extend %pos-relative;
  text-align: center;
  @include box-sizing(boxsizing);
  padding: 32px 0px;

  .logo{
      display: inline-block;
      margin-bottom: 32px;
      @extend %pos-relative;
      text-align: center;
      cursor: pointer;

      h1{
        display: inline-block;
        font-size: 1.625rem;
        line-height: 1.4;
        color: #333;
        letter-spacing: 6px;
        @extend %uppercase;
        font-family: 'brandongrotesque-blackbook';
        text-align: center;
        cursor: pointer;
        @extend %ease;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        /* animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite; */

          &:hover{
            cursor: pointer;
            animation-name: bounce;
            -moz-animation-name: bounce;
          }
      }

      @keyframes bounce {
          0%, 100%, 20%, 50%, 80% {
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
          }
          40% {
            -webkit-transform: translateY(-3px);
            -ms-transform: translateY(-3px);
            transform: translateY(-3px)
          }
          60% {
            -webkit-transform: translateY(-1px);
            -ms-transform: translateY(-1px);
            transform: translateY(-1px)
          }
        }
    }
}


ul.index-nav{
    @extend %leftfull;
    @extend %pos-relative;
    display: inline-block;
    text-align: center;

    li.nav{
      display: inline-block;
      margin-right: 18px;
      list-style: none;
      font-family: 'source_sans_prosemibold';
      font-size: 0.9375rem;
      line-height: 1.4;
      letter-spacing: 2px;
      color: rgba(51, 51, 51, 0.58);
      text-transform: capitalize;
      @extend %ease;
      cursor: pointer;

      &:last-child{
        margin-right: 0px;
      }

      &:hover{
        color: #333;
      }
    }

    li.separator{
      display: inline-block;
      margin-right: 18px;
      list-style: none;
      font-family: 'source_sans_prosemibold';
      font-size: 0.9375rem;
      line-height: 1.4;
      color: rgba(51, 51, 51, 0.24);
    }
}

.top-intro{
  @extend %leftfull;
  @extend %pos-relative;
  z-index: 99;
  margin-top: 158px;
  @include box-sizing(boxsizing);
  @extend %center;

  h3{
    @extend %leftfull;
    margin-bottom: 26px;
    @extend %center;
    font-size: 2rem;
    color: #fff;
    font-family: 'gilroylight';
    letter-spacing: 2px;
  }
  h5{
    @extend %leftfull;
    @extend %center;
    font-size: 1.25rem;
    line-height: 2.375rem;
    color: #fff;
    font-family: 'gilroylight';
    letter-spacing: 2px;
  }
}



@media screen and (max-width: 640px){
  header.port-header{
  padding: 32px 0px;

  .logo{

      h1{
        font-size: 1.125rem;
      }
    }

}

ul.index-nav{

    li.nav{
      font-size: 0.8125rem;

      &:last-child{
      }

      &:hover{
      }
    }

    li.separator{
    }
}

.top-intro{
  margin-top: 102px;

  h3{
    font-size: 1.875rem;
    line-height: 1.5;
  }
  h5{
    font-size: 1.125rem;
    line-height: 1.5;
  }
}


}