header.port-header{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding: 24px 0px;

	.logo{
  		@extend %left;
  		@extend %pos-relative;

      h1{
        @extend %left;
        margin-bottom: 22px;
        font-size: 4.25rem;
        color: #fd024e;
        letter-spacing: 12px;
        @extend %uppercase;
        font-family: 'lucida_grandebold';
      }
  	}

	/* ul{
		@extend %right;
		margin-top: 27px;
		li{
			@extend %left;
			list-style: none;
			margin-left: 54px;
			font-size: 15px;
      line-height: 1;
			text-transform: capitalize;
			font-family: 'lucida_granderegular';
			
			&:first-child{
				margin-left: 0px;
			}

		}
	} */
}

.top-intro{
	@extend %leftfull;
	@extend %pos-relative;
	z-index: 99;
	margin-top: 158px;
	@include box-sizing(boxsizing);
	@extend %center;

	h3{
		@extend %leftfull;
		margin-bottom: 26px;
		@extend %center;
		font-size: 2rem;
		color: #fff;
		font-family: 'gilroylight';
		letter-spacing: 2px;
	}
	h5{
		@extend %leftfull;
		@extend %center;
		font-size: 1.25rem;
		line-height: 2.375rem;
		color: #fff;
		font-family: 'gilroylight';
		letter-spacing: 2px;
	}
}

@media screen and (max-width: 640px){
	header{
	.logo{
      h1{
        font-size: 34px;
      }
  	}
}
}