header{
	@extend %leftfull;
	@include box-sizing(boxsizing);
	padding: 24px 0px;

	.logo{
  		@extend %left;
  		@extend %pos-relative;

      h1{
        @extend %left;
        margin-bottom: 22px;
        font-size: 4.25rem;
        color: #fd024e;
        letter-spacing: 12px;
        @extend %uppercase;
        font-family: 'lucida_grandebold';
      }
  	}

	/* ul{
		@extend %right;
		margin-top: 27px;
		li{
			@extend %left;
			list-style: none;
			margin-left: 54px;
			font-size: 15px;
      line-height: 1;
			text-transform: capitalize;
			font-family: 'lucida_granderegular';
			
			&:first-child{
				margin-left: 0px;
			}

		}
	} */
}

@media screen and (max-width: 640px){
	header{
	.logo{
      h1{
        font-size: 34px;
      }
  	}
}
}