/*

Colors

*/
/*

Mixins

*/
/*

Placeholders

*/
/* line 73, ../sass/modules/_variables.scss */
.container, .wrapper {
  float: left;
  width: 100%; }

/* line 81, ../sass/modules/_variables.scss */
.container {
  position: relative; }

/* line 1, ../sass/modules/_reset.scss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 79, ../sass/modules/_reset.scss */
body {
  line-height: 1;
  background-color: #383838;
  font-weight: normal; }

/* line 85, ../sass/modules/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* line 99, ../sass/modules/_reset.scss */
nav ul {
  list-style: none; }

/* line 103, ../sass/modules/_reset.scss */
blockquote,
q {
  quotes: none; }

/* line 108, ../sass/modules/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* line 116, ../sass/modules/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 126, ../sass/modules/_reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 132, ../sass/modules/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
/* line 140, ../sass/modules/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* line 149, ../sass/modules/_reset.scss */
input,
select {
  vertical-align: middle; }

/* line 154, ../sass/modules/_reset.scss */
html {
  font-size: 16px;
  font-weight: normal; }

/* line 159, ../sass/modules/_reset.scss */
a {
  text-decoration: none;
  color: inherit; }

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  /* line 165, ../sass/modules/_reset.scss */
  html {
    font-size: 14px !important; } }
@media only screen and (min-width: 200px) and (max-width: 640px) {
  /* line 171, ../sass/modules/_reset.scss */
  html {
    font-size: 13px !important; } }
/* line 1, ../sass/modules/_container.scss */
.container {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 10px; }

/* line 1, ../sass/modules/_wrapper.scss */
.wrapper {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 1, ../sass/modules/_body-scroll.scss */
#scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

/* line 8, ../sass/modules/_body-scroll.scss */
#scroll-style::-moz-scrollbar-track {
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

/* line 15, ../sass/modules/_body-scroll.scss */
#scroll-style::-ms-scrollbar-track {
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

/* line 23, ../sass/modules/_body-scroll.scss */
#scroll-style::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

/* line 29, ../sass/modules/_body-scroll.scss */
#scroll-style::-moz-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

/* line 35, ../sass/modules/_body-scroll.scss */
#scroll-style::-ms-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

/* line 41, ../sass/modules/_body-scroll.scss */
#scroll-style::-webkit-scrollbar-thumb {
  background-color: #000000; }

/* line 46, ../sass/modules/_body-scroll.scss */
#scroll-style::-moz-scrollbar-thumb {
  background-color: #000000; }

/* line 51, ../sass/modules/_body-scroll.scss */
#scroll-style::-ms-scrollbar-thumb {
  background-color: #000000; }

/*# sourceMappingURL=main.css.map */
