.skew-section{
    @extend %leftfull;
    transform: skewY(3deg);
}

.wrapper-top{
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper{
  max-width: 600px;
  margin: 0 auto;
}

.container-top{
  @extend %leftfull;
  @include box-sizing(boxsizing);
  padding: 0 40px;
}

.container{
  @extend %leftfull;
  margin-bottom: 22px;
  @include box-sizing(boxsizing);
  padding: 0 40px;
}

section.resume-top{
  @extend %leftfull;
  margin-top: -100px;
  margin-bottom: 86px; 
  @include box-sizing(boxsizing);
  padding: 128px 0 0px 0px;
  background: #000; 
  transform: skewY(-3deg);

  h1{
      @extend %leftfull;
      font-size: 22px;
      line-height: 1.5;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: 'brandongrotesque-blackbook';
      text-align: center;
      cursor: pointer;
      @extend %ease;
    }

  p.dg{
    @extend %leftfull;
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
  }

  .rsm-top{
    @extend %leftfull;
    @extend %pos-relative;

    .left{
      @extend %left;

      .left-1{
        @extend %left;
        margin-bottom: 16px;

        img{
          float: left;
          max-width: 100%;
          margin-top: 2px; 
          margin-right: 12px;
        }

        p{
          @extend %left;
          font-size: 14px;
          line-height: 1.5;
          color: #fff;
          text-align: left;
          @extend %ease;
          cursor: pointer;
        }
      }
      
    }

    .center{
      @extend %left;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      .center-1{
        @extend %left;

        img{
          float: left;
          max-width: 100%;
          margin-top: 2px; 
          margin-right: 12px;
        }

        p{
          @extend %left;
          font-size: 14px;
          line-height: 1.5;
          color: #fff;
          text-align: left;
          @extend %ease;
          cursor: pointer;
        }
      }
      
    }

    .right{
      @extend %right;

      .right-1{
        @extend %left;

        img{
          float: left;
          max-width: 100%;
          margin-top: 2px; 
          margin-right: 12px;
        }

        p{
          @extend %left;
          font-size: 14px;
          line-height: 1.5;
          color: #fff;
          text-align: left;
          @extend %ease;
          cursor: pointer;
        }
      }
      
    }
    
  }
}