.wrapper{
  max-width: 817px;
  margin: 0 auto;
}

.container{
  @extend %leftfull;
  @include box-sizing(boxsizing);
  padding: 0px 28px;
  background: #fff;
}

section.resume-top{
  @extend %leftfull;
  @include box-sizing(boxsizing);
  padding: 28px;
  background: #fff; 


  h1{
      @extend %leftfull;
      font-size: 24px;
      line-height: 1.5;
      color: #ff708c;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: 'brandongrotesque-blackbook';
      text-align: center;
      @extend %ease;
    }

  p.dg{
    @extend %leftfull;
    font-size: 20px;
    line-height: 1.5;
    color: #ff708c;
    letter-spacing: 1px;
    text-align: center;
  }
}





.resume-info{
  @extend %leftfull;
  @extend %pos-relative;   
  margin-bottom: 38px;

  .rsm-top-l{
    @extend %left;
    width: 68%;

    p{
      @extend %leftfull;
      font-size: 17px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.6);
      text-align: left;

      span.half-highlight{
        background: linear-gradient(to right,transparent 50%,rgba(255, 112, 140, 0.2) 50%);
        background-size: 200% 28%;
        background-repeat: repeat-x;
        background-position: -100% 86%;
        transition: background-position .5s;
        }
    }
  }
  .rsm-top-R{
    @extend %right;
    width: 27%;

    ul{
      @extend %leftfull;
      li{
        @extend %leftfull;
        list-style: none;
        margin-bottom: 6px;

        &:last-child{
          margin-bottom: 0px;
        }

        img{
          float: left;
          max-width: 100%;
          width: 15px;
          margin-top: 3px;
          margin-right: 12px;
        }

        img.loco{
          width: 16px;
        }

        span{
          float: left;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.6);
          cursor: pointer;
          line-height: 1.5;
        }

        span.underline{
          background: linear-gradient(to right,transparent 50%,rgba(255, 112, 140, 0.7) 50%);
          background-size: 200% 10%;
          background-repeat: repeat-x;
          background-position: -100% 82%;
          transition: background-position .5s;
        }

        span.con{
          font-size: 15px;
        }
      }
    }
  }
}
